.color-white{
  color: white !important;
  background-color: #1994A1;
}


.deactive-link{
  background-color: white !important;
  color: black !important;
  
}


@media (max-width:768px) {
  .DashboardHomeRight{
    max-width: 100% !important;
  }
}
@media screen and (max-width: 450px) {
  .csv-btn{
    margin: 8px 26px 12px 34px !important;
  }
}
