@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.interFamily {
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.robotoFamily {
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.side_text1 {
  display: none !important;
}
.side_text {
  display: block;
}

.dashboardLeft {
  width: 234px;
  /* border: 1px solid black; */
  height: 100%;

}

.navigation-text {
  color: #6b7380b2;
  margin-top: 3.5rem;
  margin-left: 15px;
  font-weight: 600;
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.web-logo {
  margin-top: 30px;
}

.ham_parent{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.side_text{
  cursor: pointer;
}

.navigation-table-left {
  display: flex;
  /* border: 1px solid; */
  margin: 30px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navigation-table-left img {
  margin: 8px 12px;
}

.dashboardHomeTop {
  width: 60%;
  border-bottom: 1px solid #e5e6e8;
  margin-top: 4px;
  margin-bottom: 2px;
}

@media screen and (max-width: 770px) {
  .dashboardLeft {
    /* width: fit-content; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .navigation-table-left {
    margin: 30px 8px;
  }

  .ham_parent {
    position: absolute;
    z-index: 3;
    background-color: white;
    height: 100vh;
  }

  .res_margin {
    margin-left: 60px;
  }
}
