.dash-favourites,
.dash-staff-favourites {
  /* min-height: 50%; */
  height: fit-content;
  /* border: 1px solid #e5e6e8; */
  padding: 12px;
  margin: 15px;
  box-sizing: border-box;
  width: 100%;
}

.sub-heading {
  font-weight: 500;
  font-size: 20px;
  color: #324558;
}

.showDataRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
}

.insightDataShow {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1590px) {
  .showDataRow {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
  .dash-favourites {
    margin: 0px;
    padding: 0px;
  }

  .amount {
    font-size: 18px !important;
  }

  .amount:nth-child(2){
    font-size: 12pxj;
  }
}
