.dash-favourites,
.dash-staff-favourites {
  /* min-height: 50%; */
  height: fit-content;
  /* border: 1px solid #e5e6e8; */
  padding: 12px;
  margin: 15px;
  box-sizing: border-box;
  width: 100%;
}

.sub-heading {
  font-weight: 500;
  font-size: 20px;
  color: #324558;
}

.showDataRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
}

.insightDataShow {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1590px) {
  .showDataRow {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 375px) {
  .dash-favourites {
    margin: 0px;
    padding: 0px;
  }

  .amount {
    font-size: 18px !important;
  }

  .amount:nth-child(2) {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .res_margin {
    margin-left: 35px;
  }

  .data-card-bottom{
    flex-wrap: wrap;
  }


}

@media screen and (max-width: 430px) {
  .res_margin {
    margin-left: 35px;
  }

  .DashboardHomeRight {
    width: 91%;
    overflow: hidden;
  }
}

@media screen and (max-width: 350px) {
  .dashboard-empty {
    max-width: 230px;
  }
  .dashboard-title {
    margin-left: 36px !important;
  }
}

@media screen and (max-width: 330px) {
  .dashboard-empty {
    max-width: 230px;
  }

  .card_grid {
    min-width: 193px;
  }

  .data-card {
    width: 100%;
    max-width: 300px;
  }

  .dashboard-empty {
    max-width: 232px;
    width: 310px;
  }
}

@media screen and (max-width: 315px) {
  .dashboard-empty {
    max-width: 200px;
    width: 310px;
  }

  .data-card {
    width: 150px !important;
    max-width: unset !important;
    min-width: unset !important;
  }
}
