.data-card {
  border: 1px solid #e5e6e8;
  border-radius: 8px;
  width: 100%;
  /* max-width: 363px !important; */
  
}

.data-coin {
  font-weight: 500;
  font-size: 16px;
}

.data-card-top {
  background-color: #e8f4f6;
  color: #33a0ab;
  padding: 10px 18px;
}

.data-card-bottom {
  padding: 4px 18px;
  display: flex;
  margin: 15px 0px;
  flex-wrap: wrap;
}

.amount {
  font-weight: 500;
  font-size: 26px;
}
.card_grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: start;
}

.sell-btn {
  color: #e21c57;
  background-color: rgba(226, 28, 87, 0.1);
  padding: 4px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.gain-btn {
  color: #1994a1;
  background-color: rgba(25, 148, 161, 0.1);
  padding: 4px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
@media  (max-width:500px){

}
@media screen and (max-width: 375px) {
  .amount-percent {
    font-size: 12px;
  }

  .amount-percent img {
    width: 12px;
  }

  .sell-btn {
    font-size: 10px;
    padding: 2px 10px;
  }

  .data-coin {
    font-size: 15px;
  }

  .data-coin-date {
    font-size: 10px;
  }
  .data-card{
    max-width: 240px;
  }

  
}


@media (max-width:340px) {
  .data-card-bottom {
    flex-wrap: wrap !important;
    gap: 10px !important;
    justify-content: center !important;
  }
}